.rank-list-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.rank-list-table th,
.rank-list-table td {
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
}

.rank-list-table th {
    font-weight: 600;
    border-bottom: 2px solid #ccc;
    background-color: #f9f9f9;
    text-align: left;
}

.rank-title {
    font-weight: 500;
    position: relative;
}

.rank-title-wrapper {
    display: inline-block;
    position: relative;
    padding-left: 36px;
}

.current-score-badge {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.rank-list-table thead th:nth-child(2),
.minimum-score {
    text-align: right;
}

tbody .current-rank {
    background-color: black;
    color: white;
}
